*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 8vh;
}
.light-mode{
    --bg: linear-gradient(176.4deg, #D4E3EC -3.09%, rgba(255, 255, 255, 0.13) 127.22%);
    --bg-fill: white;
    --primary: #1372E1;
    --color: #3C6071;
    color: #3C6071;
    background: var(--bg);
}
.dark-mode{
    --bg: #3C6071;
    --bg-fill: #3f5964;
    --primary: #47D8E1;
    --color:  white;
    color: var(--color);
    background: var(--bg); 
}
img{
    border-radius: 15px;
}
.text-primary{
    color: var(--primary);
}
.navbar {
    display: flex;
    margin: 0;
    width: 100vw;
    background: var(--bg);
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 5vw;
    height: 8vh;
    justify-items: center;
    align-items: center;
    border: 1px solid var(--bg-fill);
    & .logo{
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
        padding: 10px 0;
    }
    & .menu_btn{
        margin-right:0;
        margin-left: auto;
        font-size: 1.2rem;
        padding:10px 0;
        & svg{
            margin: 0 10px;
            cursor: pointer;
        }
    }
    @media screen and (min-width: 1200px) {
        padding: 10px 10vw;
     }
}
.home{
    @media screen and (min-width: 1200px) {
       margin-left: 10vw;
    }
}
.post{
    background: var(--bg);
    border-radius: 15px;
    border: 1px solid var(--bg-fill);
    padding: 15px;
    margin-bottom: 30px;
    & h3{
        margin: 0;
    }
}
.d-none{
    display: none;
}
.d-show{
    display: block;
}
.menu{
    position:fixed;
    overflow-y: scroll;
    background: var(--bg-fill);
    border: 1px solid var(--bg-fill);
    list-style: none;
    padding: 15px;
    border-radius: 15px;
    width: 100vw;
    height: 90vh;
    left: 0;
    top: 8vh;
    z-index: 2000;
    margin:0;
    & li {
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }
    & li a{
        box-shadow: none;
        color: var(--color);
        background: var(--bg);
        border: 1px solid var(--bg-fill);
        padding: 10px 20px;
        border-radius: 15px;
        &:hover{
            opacity: .8;
        }
    }
    @media screen and (min-width: 1200px) {
        background: var(--bg);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        right:5vw;
        top:9vh;
        left: auto;
        height: 90vh;
        width: 20vw;
        z-index: 999;

     }
  
}
